body {
    background-color: #450084;
    margin: 0vw;
    padding: 0vw;
    
}
.title {
    margin-top: 0vw;
    padding-top: 3vh;
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: navy;
    -webkit-text-fill-color: gold;
    text-shadow: 2px 2px 3px black;
}
.header {
    background-color: #CBB677;
    border-bottom: 3px solid white;
    height: 17vh;
    width: 100vw;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0vw;
    
}

.navigation {
    margin-top: 0vw;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    
}
.navigation > a {
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    -webkit-text-fill-color: gold;
    /* text-shadow: 1px 1px 2px white; */
    font-size: larger;
    border-radius: 25px;
    width: 15vw;
    background-color: navy;
    border: 3px solid white;
}
.indexBody > h2 {
    margin-top: 3vw;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    justify-content: center;
}
.indexBody > img {
    margin-top: 15vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: auto;
    border: 3px solid white;
}

.CSGOdescription {
    position: absolute;
    top: 40vh;
    left: 1vw;
    padding: 1.5vw;
    
    background-color: #CBB677;
    -webkit-text-fill-color: black;
    padding-right: 0vw;
    width: 25vw;
    border-radius: 25px;
    border: 3px solid white;
}
.CSGOdescription > h2 {
    font-family: sans-serif;
    text-align: left;
    text-decoration: underline;
}
.JMUEsports {
    position: absolute;
    top: 40vh;
    right: 1vw;
    padding: 1.5vw;
    
    background-color: #CBB677;
    -webkit-text-fill-color: black;
    padding-right: 0vw;
    width: 25vw;
    border-radius: 25px;
    border: 3px solid white;
}
.JMUEsports > h2 {
    
    text-align: left;
    text-decoration: underline;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    
}
.content > img {
    height: 40vh;
    width: auto;
    margin-top: 10vh;
    border: 3px solid white;
}
.informationLeague > h2 {
    text-align: left;
    text-decoration: underline;
}
.Ranking > h2 {
    text-align: left;
    text-decoration: underline;
}
.Ranking {
    background-color: #CBB677;
    width: 25vw;
    height: 28vh;
    padding: 1vw;
    -webkit-text-fill-color: black;
    border-radius: 25px;
    border: 3px solid white;
    }

.informationLeague {
    background-color: #CBB677;
    width: 25vw;
    height: 25vh;
    padding: 1vw;
    -webkit-text-fill-color: black;
    border-radius: 25px;
    border: 3px solid white;
}
.PreviousMatches > h1 {
    font-family: sans-serif;
    text-decoration: underline;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: goldenrod;
    
}
.PreviousMatches {  
    padding-left: 2vw;
    margin-top: 3vh;
    width: 25vw;
    height: 70vh;
    background-color: #CBB677;
    border-radius: 25px;
    border: 3px solid white;
}

.UpcomingMatches {  
    padding-left: 2vw;
    margin-top: 3vh;
    width: 25vw;
    height: 70vh;
    background-color: #CBB677;
    border-radius: 25px;
    border: 3px solid white;
}
.page {
    display: flex;
    justify-content: space-evenly;
}
.page > img {
    margin-top: 25vh;
    align-items: center;
    height: 30vh;
    width: auto;
}
.UpcomingMatches > h1 {
    font-family: sans-serif;
    text-decoration: underline;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: goldenrod;
}

.AboutJMU {
    width:45vw;
    height: 20vh;
    background-color: #CBB677;
    -webkit-text-fill-color: black;
    padding:2vw;
    border-radius: 25px;
    border: 3px solid white;

}

form {
    -webkit-text-fill-color: black;
    background-color: #CBB677;
    padding:2vw;
    border-radius: 25px;
    border: 3px solid white;
      
}
.previouscomments {
    background-color: #CBB677;
    -webkit-text-fill-color: black;
    padding:2vw;
    border-radius: 25px;
    border: 3px solid white;
    width:25vw;
    
}
.previouscomments > h1 {
    font-family: sans-serif;
    text-decoration: underline;
}
.AboutJMU > h1 {
    font-family: sans-serif;
    text-decoration: underline;
}
.commentPage {
    height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
.brett > p {
    width: 50%;
    height:8%;
    -webkit-text-fill-color: black;
    background-color: #CBB677;
    padding:2vw;
    border: 3px solid white;
}
.brett {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.brett > img {
    border: 3px solid white;
    max-width: 400px;
}
.john > p {
    width: 50%;
    height:8%;
    -webkit-text-fill-color: black;
    background-color: #CBB677;
    padding:2vw;
    border: 3px solid white;
}
.john {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.john > img {
    border: 3px solid white;
    max-width: 300px;
}
.matt > p {
    width: 50%;
    height:8%;
    -webkit-text-fill-color: black;
    background-color: #CBB677;
    padding:2vw;
    border: 3px solid white;
}
.matt {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.matt > img {
    border: 3px solid white;
    max-width: 400px;
}
.james > p {
    width: 50%;
    height:8%;
    -webkit-text-fill-color: black;
    background-color: #CBB677;
    padding:2vw;
    border: 3px solid white;
}
.james {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.james > img {
    border: 3px solid white;
    max-width: 300px;
    height: auto;
}
.adam > p {
    width: 50%;
    height:8%;
    -webkit-text-fill-color: black;
    background-color: #CBB677;
    padding:2vw;
    border: 3px solid white;
}
.adam {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.adam > img {
    border: 3px solid white;
    max-width: 300px;
}

h1:not(#main) {
    height: 100
}


@media screen and (max-width: 1600px) {
    header {
        height:max-content;
        width:max-content;
        position: static; 
    }
    .content {
        display:block;
        float: none;
        margin-top: 10vh;
        text-align: center;
    }
    .content > img {
        display:block;
        max-height: 200px;
        margin-top: 10vh;
        border: 3px solid white;
    }
    .informationLeague{
        width:fit-content;
        height:max-content;
    }
    .Ranking {
        margin-top: 10vh;
        width:fit-content;
        height:max-content;
    }
    .aboutPage {
        display:block;
        float: none;
        margin-top: 10vh;
        text-align: center;
    }
    .AboutJMU {
        width:auto;
        height:max-content;
    }
    .page {
        display: block;
    }
    .PreviousMatches {
        width:auto;
        height:max-content;
    }
    .UpcomingMatches {
        margin-top: 10vh;
        width:auto;
        height: fit-content;
    }

    .indexBody {
        display: block;
    }
 
 
 
 
 

}
   




